.view1 { 
    height: 35px; 
    width: 90px; 
    border-radius: 8px; 
    background-color: #ff3f3f; 
    color: white; 
    font-size: 15px; 
    border: none; 
    cursor: pointer; 
    margin-top: 3%;

    } 

